
a
{
    color: inherit;
    text-decoration:none;
}
.navheader
{
    display: inline-block;
    position: absolute;
    width:max-content;
}
nav div
{
    display: inline-block;
}

/* -----DROPDOWN------- */

.dropbtn
{
   background-color: lightblue;
   color: black;
   padding: 16px;
   font-size: 16px;
   border: none;
} 

.dropdown
{
    position: relative;
    display: inline-block;
}

.dropdown-content
{
    display: none;
    position:absolute;  
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  
}

.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;   
}

.dropdown:hover a:hover
{
    background-color: black;
}

.dropdown:hover .dropdown-content
{
    display: block;
}

.dropdown:hover .dropbtn
{
    background-color: beige;
}